{% extends "ada/base.html" %}

{% block content %}
    <div class="container testing">
        <div class="row">
            <div class="col-md-12">
                <h3>¿Por qué esterilizar?</h3>
                <section>
                    Según la Sociedad Mundial para la Protección Animal WSPA, “De los 500 millones de perros  calculados en el mundo, cerca del 75% son callejeros.” Eso quiere decir que 375 millones en el mundo de perros están en las calles.

                    La mayoría de los animales callejeros han sido abandonados por sus dueños o éstos les permiten andar sueltos libremente. Entonces, los perros y  gatos sin supervisión se reproducen, generando cachorros no deseados.
                </section>
            </div>
            <div class="col-md-6">
            <h4>Esterilización de perros y gatos</h4>
            <section>Existen conceptos equivocados sobre la sexualidad y reproducción de perros y gatos en nuestra sociedad. Esta falta de información lleva a la sobrepoblación y a que exista un exceso de animales no deseados que terminan su vida en la calle, refugios o antirrábicos.

                La esterilización de la perra y gata consiste en retirar los ovarios y el útero al realizar una cirugía abdominal bajo anestesia. Esta cirugía tiene una duración aproximada de 20 a 45 minutos y las perras se recuperan rápidamente del procedimiento.

                Se recomienda realizar esta cirugía a partir de los 2 meses de edad y de preferencia antes del primer celo, pero se puede llevar a cabo en cualquier momento, con excepción del celo.
                <br/>
                <br/>
                La esterilización del macho consiste en retirar ambos testículos a través de una pequeña incisión en el escroto del perro o el gato; la cirugía es poco invasiva y los pacientes se recuperan rápidamente, siendo la duración del procedimiento de 15 a 25 minutos. Esta cirugía se puede realizar a partir de los 2 meses de edad y en cualquier momento de la vida del animal, aunque es recomendable hacerlo antes de los 4 ó 5 años de edad.</section>
            </div>
            <div class="col-md-6">
            <h4>Aspectos de salud</h4>
            <section>Contrariamente a lo que piensa la mayoría de las personas, no es cierto que los perros y gatos necesiten reproducirse al menos una vez; no existe ninguna consecuencia nociva para la salud del al no procrear. Debemos aclarar que esto incluye todos los aspectos de salud (emocional, física y hormonal). Los perros, perras, gatos y gatas no necesitan tener progenie para mantenerse sanos. Su sexualidad es distinta a la del humano y está totalmente dictada por las hormonas, por lo que no presentarán emociones como la frustración o el deseo de tener hijos a un nivel consciente.

                Sin embargo, sí existen razones de peso al considerar la salud de nuestro animal de compañía para optar por la esterilización.
            </section>
            </div>
            <div class="col-md-12">
                <h3>Beneficios de la esterilizacion</h3>
            </div>
            <div class="col-md-6">
                <section>
HEMBRAS

- Disminuye la presentación de cáncer de glándula mamaria de un 25% en el caso de perras no esterilizadas después del cuarto celo a un 0.05% en el caso de perras esterilizadas antes del primer celo. 1 de cada 4 perras no esterilizadas desarrolla cáncer de glándula mamaria, que puede resultar en la muerte del animal. Evitar esta enfermedad es salvarle la vida a su perra o gata.

- Previene la presentación de Piometra o infección uterina, ya que alrededor del 80% de las perras y el 40% de las gatas presentarán esta infección que pone en riesgo su vida y que es totalmente prevenible al realizar la esterilización. Esta infección se presenta sin importar si la perra o gata ha sido cruzada alguna vez, nunca, o varias veces; la razón por la que se presenta esta patología es la presencia de hormonas relacionadas con el ciclo sexual de la perra no esterilizada, cada celo que pasa incrementa el riesgo. El uso de inyecciones hormonales para evitar el celo tiene efectos secundarios muy severos, dentro de los cuales se incluye la piometra pero también otras como diabetes, tumores mamarios, o enfermedades de la vesí­cula biliar, por lo que no se recomienda el uso de dichos medicamentos para evitar el celo o para prevenir la gestación después de una cópula no deseada.

- Elimina el riesgo de desarrollar enfermedades del útero y de los ovarios, los cuales ocurren con frecuencia en las perras. El costo de tratar enfermedades como la piometra o el cáncer de glándula mamaria es mucho mayor que el de realizar una esterilización. Realizar este tipo de cirugía en una perra antes del primer celo tiene la ventaja adicional que la paciente, por su corta edad, se recuperará con mayor rapidez, y el riesgo anestésico es menor que en una perra enferma o vieja.
                </section>
            </div>
            <div class="col-md-6">
                <section>
MACHOS

- Evita la presentación de enfermedades de la próstata como infecciones, inflamaciones, abscesos, quistes y cáncer, que afectan a los perros después de los 4 ó 5 años de edad. Estas enfermedades requieren de tratamientos prolongados que pueden incluir costosas cirugías y de la castración como parte del tratamiento.

- Previene la presentación de tumores de la región perineal, tumores testiculares y hernias perineales. - Previene la constante cruza del macho que sale a la calle y el adquirir enfermedades sexualmente transmitidas que pueden ser mortales.
                </section>
                <section>
                    PESO CORPORAL

Algunos animales pueden subir de peso tras ser esterilizados; la causa de esto suele ser un exceso en la alimentación y falta de actividad. La esterilización sí produce una ligera disminución en la tasa metabólica, causando un decremento en las necesidades energéticas y calóricas del paciente, por lo que se les debe disminuir un 25% la cantidad de alimento que consumen diariamente. El cuerpo del paciente no presentará ningún otro cambio.
                </section>
            </div>
            <div class="col-md-6">
                <section>CUESTIONES DE COMPORTAMIENTO

Los perros y gatos no se ven afectados negativamente por la esterilización, no les cambia el carácter, no se vuelven flojos, etc. Algunos machos con problemas de agresión pueden mejorar, ya que la agresividad puede estar relacionada con altos niveles de testosterona. También podrá verse disminuido el comportamiento de búsqueda de hembras y podrá prevenirse hasta cierto grado el que el perro o gato intenten salir de la casa en búsqueda de una hembra en celo, con todos los riesgos que esto representa. Puede disminuir el marcaje por orina de los gatos. Las hembras esterilizadas no entran en celo y por lo tanto no presentan sangrado por la vulva, tampoco presentan cambios de comportamiento que acompañan al celo en la perra y en la gata como puede ser vocalizar, irritabilidad, agresión, escaparse o esconderse.</section>
            </div>
        </div>
    </div>


{% endblock %}