{% extends "ada/base.html" %}

{% block content %}
    <div class="container testing">
        <div class="row">
            <div class="col-md-12">
                <h3>Tenencia responsable</h3>
                <section>
                    Ser un dueño responsable es mucho más que proveer agua, comida y techo para el animal. Los animales de compañía dependen completamente de los humanos para su bienestar.
                </section>
            </div>
            <div class="col-md-6">

                <section>
                    &#8220;La tenencia responsable de animales de compañía se define como la condición según la cual una persona acepta y se compromete en una serie de derechos, deberes y obligaciones enfocadas a satisfacer las necesidades del animal de compañía escogido; así como la prevención del riesgo potencial (agresión, transmisión de enfermedades o daños a terceros) que ésta pueda generar a la comunidad o al medio ambiente en el marco jurídico de la legislación pertinente&#8221;.

                    La tenencia responsable comienza en el momento en que se decide tener un animal de compañía. Con ella se busca la convivencia armónica entre personas, animales y sociedad; porque los dueños, al hacerse responsables de su animal de compañía, contribuyen directamente al bienestar de la comunidad.&nbsp;
                </section>
            </div>
            <div class="col-md-6">

                <section>
                    Además, contempla la dedicación de tiempo y espacio de parte de sus dueños para con el animal, en busca de un refuerzo armónico de las relaciones entre ambos. En nuestras ocupadas sociedades, un animal bien mantenido no tiene porqué dar problemas en casa, y siempre será un oasis de felicidad y cariño para las personas con las que vive.&nbsp;
                </section>
            </div>
            <div class="col-md-12">

            </div>
            <div class="col-md-6">
                <section>
                    La tenencia responsable de animales de compañía involucra a las personas y a los demás animales.&nbsp;
                    <br/>
                    Un propietario responsable de animales de compañía, es aquel que evalúa su estilo de vida antes de tener un animal, se compromete a cuidar de éste con paciencia, cariño y respeto. Para esto procura la adquisición de los elementos necesarios para tenerlo bien. Al traerlo a la casa procura la adaptación con el entorno, se preocupa por satisfacer las necesidades de alimentación de acuerdo a la calidad, cantidad y frecuencia que éste necesite, lo protege de la intemperie, brindándole un espacio adecuado y limpio para su descanso y recreo, así como cuidados en cuanto a la salud, bajo orientación médico-veterinaria: vacunación, desparasitación y limpieza (baño y cepillado si lo requiere).&nbsp;

                </section>
            </div>

            </div>
        </div>
    </div>


{% endblock %}